
Android/.idea/libraries/animated_vector_drawable_24_2_0.xml

Android/.idea/libraries/animated_vector_drawable_24_2_0.xml

Android/.idea/libraries/animated_vector_drawable_24_2_0.xml

Android/.idea/libraries/animated_vector_drawable_24_2_0.xml
.idea/workspace.xml
.idea/workspace.xml
Android/.idea/compiler.xml
